<table>
  <thead>
  <tr>
      <th>Navn</th>
      <th>Elevpc</th>
      <th>Læremidler</th>
  </tr>
  </thead>
  <tbody>
    {{#each agreements}}
        <tr>
            <td>{{fullName}}</td>
            <td><a href="/agreements/{{details}}/details/{{resolveAgreementId elevpc}}">{{{resolveAgreementStatus elevpc}}}</a></td>
            <td><a href="/agreements/{{details}}/details/{{resolveAgreementId laeremidler}}">{{{resolveAgreementStatus laeremidler}}}</a></td>
        </tr>
    {{/each}}
  </tbody>
</table>