<table class="{{showMe mySchools}}">
    <thead>
    <tr>
        <th>Skole</th>
        <th>Gruppe</th>
        <th>Vis avtaler</th>
    </tr>
    </thead>
    <tbody>
    {{#each myClasses}}
        <tr>
            <td>{{schoolId}}</td>
            <td>{{group}}</td>
            <td>
                <a href="/agreements/{{id}}" title="Vis avtaler fra {{id}}">
                    <i class="material-icons">assignment</i>
                </a>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>