<table>
  <thead>
  <tr>
      <th>Navn</th>
      <th>ElevPC</th>
      <th>Bilder og video</th>
  </tr>
  </thead>
  <tbody>
    {{#each agreements}}
        <tr>
            <td>{{fullName}}</td>
            <td><a href="/agreements/{{details}}/details/{{resolveAgreementId elevpc}}?classId={{../classID}}">{{{resolveAgreementStatus elevpc}}}</a></td>
            <td><a href="/agreements/{{details}}/details/{{resolveAgreementId images}}?isImage=True&classId={{../classID}}">{{{resolveAgreementConsentStatus images}}}</a></td>
        </tr>
    {{/each}}
  </tbody>
</table>