<h1>Avtaledetaljer {{userData.name}}</h1>

<div class="information">
    Alle elever finner sine avtaler og andre tjenester på https://meg.minelev.no<br/>
    Eleven logger seg inn med brukernavnet og passordet fra fylkeskommunen og kan laste ned avtaler for manuell signering.
</div>

{{#each agreements}}
  <h2>Avtalepart - {{resolveAgreementPart this}}</h2>
  <strong>Navn: </strong>{{name}}<br />
  <strong>Avtale: </strong>{{agreementType}}<br />
  <strong>Status: </strong>{{status}}<br/>
  <strong>Direktelenke for signering: </strong>{{resolveAgreementSignLink this}}<br />
  {{{resolveAgreementSigningOverride this ..parent}}}
{{/each}}

<p class="{{hideMe agreements}}">
  <br/><br/>
  Finner ingen avtaler knyttet til {{userData.name}}
</p>
